.card{
    width: 230px;
}

.card .cabecalho{
    background-color: #f0f0f0;
    border-radius: 10px 10px 0px 0px;
    padding: 1px;
    word-wrap: break-word;
}
.card .rodape{
    background: #FFFFFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    padding-bottom: 20px;
    word-wrap: break-word;
}

.card .rodape h4 {
    color: #033c60;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card .rodape h5{
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}